button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  line-height: 1.5;
  appearance: none;
  box-shadow: none;
  border-width: 1px;
  border-radius: 0;
  background-color: orange;
  font-size: 18px;
}

button:focus {
  outline: none;
}

input {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 5px;
}

body {
  background: radial-gradient(#FFFFFF, #3895DD);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.tweet {
  line-height: 20px;
  text-align: center;
}

.username {
  color: rgb(155, 26, 158);
  transition: color 0.5s ease;
}

.username:hover {
  color: rgb(218, 107, 107);
  cursor: pointer;
}

.creation-time {
  color: blue;
}

#tweets {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 21px;
}

#refresh {
  margin-bottom: 21px;
}

#title {
  text-align: center;
  margin-bottom: 13px;
  font-size: 2.7em;
}

#tweet-entry {
  text-align: center;
}

#send-tweet {
  margin-top: 18px;
}
